@keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .Spinner {
    margin: 16px;
    animation: rotate360 1s linear infinite;
    transform: translateZ(0);
    border: 2px solid grey;
    border-left: 4px solid black;
    background: transparent;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  